*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}
body {
  margin: 0;
  background-image: url(../img/espacio.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: rgb(252, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: grid;
}
/*--------------------MENU----------------------------*/
nav {
  background-color: rgba(8, 8, 8, 0.849);
  height: 80px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.6);
  position: fixed;
}
.logo {
  height: 180px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #fff;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
li a.active,
li a:hover {
  background: #3ea7f2;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: flex;
  }
  nav {
    padding: 0 30px;
  }
  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    background: #040505;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    flex-direction: column;
    z-index: 10;
  }
  nav ul li {
    margin: 20px 0;
  }
  nav ul li a {
    font-size: 20px;
  }
  li a:hover,
  li a.active {
    background: #40b7fce1;
    color: rgb(250, 248, 248);
  }
  #check:checked ~ ul {
    left: 0;
  }
  .banner .row h2 {
    font-size: 3rem;
  }
  .banner .btnServices {
    margin-top: 3rem;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.3rem;
  }
}
header {
  margin-top: 10%;
  margin-left: 10%;
}
.titlejohnzapata {
  margin-top: 12%;
  color: rgba(197, 230, 243, 0.952);
  text-shadow: rgb(5, 28, 158) -4px -1px;
  margin-block-end: 10px;
  height: auto;
  display: grid;
  justify-content: center;
  font-size: 4rem;
  z-index: 1;
}
.banner_descarga .descarga {
  color: #fff;
  text-shadow: rgb(5, 28, 158) -2px -2px;
  text-decoration: none;
}
.banner_descarga {
  transform: translate(0px, -110px);
  color: #fff;
  position: relative;
  font-size: 25px;
  text-decoration: none;
  display: grid;
  background: #53ade9c7;
  padding: 5px;
  border-radius: 20px;
  justify-content: center;
  width: 25%;
  margin-left: 40%;
  margin-top: 15%;
  z-index: -1;
}
footer {
  position: relative;
  border: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 1em 0;
  margin-top: auto;
  text-align: center;
}
.redes-sociales a {
  font-size: 30px;
  padding: 0 20px;
  color: #fff;
  margin-block-end: 20px;
  text-decoration: none;
}
.secciontitulo {
  text-align: center;
  font-size: 30px;
  color: rgba(197, 230, 243, 0.952);
  text-shadow: rgb(5, 28, 158) -5px -1px;
}
.grid-container {
  display: grid;
  background: none;
  grid-template-columns: 250px 250px;
  justify-content: center;
}
.grid-container div {
  background: #3b3b3da6;
  text-align: center;
  color: #fff;
  border-radius: 5%;
}
.secciontitulo {
  margin-top: 20px;
}
.grid-container .sobre-mi p {
  justify-content: center;
  text-justify: center;
  margin-top: 15px;
}
.habilidad {
  margin-block-end: 20px;
}
.tituhabilidad {
  margin-top: 100px;
  margin-block-end: 20px;
  text-align: center;
  font-size: 30px;
  color: rgba(197, 230, 243, 0.952);
  text-shadow: rgb(5, 28, 158) -5px -1px;
}
.logohtmlcssjs {
  display: flex;
  justify-content: center;
}
/*-------------  PAGINA DE CONTACTO  -------------*/

.contacto {
  margin: 10% 0% 40% 35%;
}
.text-center {
  text-align: left;
  font-size: 30px;
  color: rgba(90, 131, 207, 0.952);
  text-shadow: rgb(5, 28, 158) -4px -1px;
  padding: 10px 10px;
}
span {
  color: rgb(14, 13, 13);
  padding: 5px 10px;
}
textarea {
  border-radius: 1%;
}
/*-------------------------------------------------*/
.parent {
  text-align: center;
}
.parent a {
  padding: 20px;
  margin: 20px;
  border: 5px solid rgba(8, 8, 8, 0.603);
  background: rgba(51, 133, 241, 0.685);
  display: inline-block;
  font-size: 26px;
  text-align: center;
  border-radius: 5%;
}
/*----------Pagina de Portafolio------------------*/
.card-text {
  color: #040505;
}
.tituportafolio {
  margin-top: 100px;
  margin-block-end: 10px;
  text-align: center;
  font-size: 5rem;
  color: rgba(197, 230, 243, 0.952);
  text-shadow: rgb(5, 28, 158) -5px -1px;
}
.descrip {
  margin: 3% 35%;
  background: #3b3b3d9d;
  text-align: center;
  color: #fff;
  border-radius: 5%;
  list-style: none;
}
.folio {
  text-align: center;
}
.folio a {
  padding: 20px;
  margin: 20px;
  border: 5px solid rgba(8, 8, 8, 0.603);
  background: rgba(51, 133, 241, 0.685);
  display: inline-block;
  font-size: 15px;
  border-radius: 5%;
}
/*-----------------Pagina Habilidades----------------------*/
.habili {
  display: grid;
  margin: 10% 30%;
  text-align: center;
  color: #fff;
  border-radius: 5%;
  list-style: none;
}
.tituhabili {
  font-size: 3rem;
  color: rgba(197, 230, 243, 0.952);
  text-shadow: rgb(5, 28, 158) -4px -1px;
}
.text-habi {
  color: #040505;
  background: rgba(255, 255, 255, 0.534);
  border-radius: 5%;
}
/*-------------------------------------------*/
